
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#logo {
  
  width: 10vw;
}

//header

header {
  border-bottom: 1px solid #7e6c47;
  overflow: hidden;
  height: 10vw;
  background-color: black;
  .top-nav {

    ul {

      li {
        list-style-type: none;
        padding-top: 5em;
        a {
          text-decoration: none;
          color: #b9b7a7;
          font-size: 1.5rem;
          transition: 1s;

          &:hover {
            color: #d3b064;
          }
        }

        a.active {
          color: #d3b064;
        }
      }
    }
  }
}

section.find-out-section {
  background-color: black;
  div.main-pic {
  
    img.profile {
      width: 35vw;
      height: 40vw;
      animation: slide-in-left 3s ease 0s 1 normal forwards;
    }

    div {
      margin-left: 5rem;
      h1 {
        color: #d3b064;
        font-size: 3rem;
        width: 40%;
        animation: slide-in-from-right 2s ease 0s normal forwards;
      }
      p.introduce {
        font-size: 2rem;
        color: #b9b7a7;
        animation: slide-in-from-right 3s ease 0s 0.5 normal forwards;
        width: 40%;
      }
      button.find-out-btn {
        border-radius: 15px;
        font-size: 1.5rem;
        color: #d3b064;
        border: 3px solid #d3b064;
        background-color: black;
        padding: 1.25rem 2rem;
        animation: slide-in-from-right 3s ease 0s 0.65 normal forwards;
        margin-left: 12rem;
        cursor: pointer;
      }
    }
  }
}






@keyframes slide-in-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(50%);
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(90%);
  }
}
